* {
    box-sizing: border-box;
}

body {
    font-family: 'Kaushan Script', cursive;
    font-size: 1em;
    line-height: 2.3em;
    background-color: #333;
    /*love this color for another site maybe   color: #f5f3e4;*/
    color: #340056;
    padding: 25px 10px;
}

header {
    max-width: 700px;
    min-width: 360px;
    margin: auto;
    padding: 3px 10px;
}

footer {
    margin: auto;
    margin-top: 16px;
    padding: 30px;
    background-color: #676;
    background: rgba(255,255,255,0.4);
    text-align: center;
    line-height: 2em;
}

h1 {
    font-family: 'Kaushan Script', serif;
    font-size: 2.5em;
    display: inline;
    color: #f8e9f9;
    text-shadow: -4px 3px 2px #333;
}

.grid1 {
    margin: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

button {
    color: #f5f3e4;
    font-family: 'Walter Turncoat', serif;
    font-size: 1.3em;
    line-height: 0.9em;
    background-color: #ff2000;
    background-color: rgba(242,230,125,0);
    border: 6px solid #f2e67d;
    border-bottom: 2px solid #f2e67d;
    border-right: 4px solid #f2e67d;
    border-radius: 50%;
    display: inline-block;
    font-weight: 300;
    border-color: #f7f7f0;
    border-color: rgba(242,230,125,0);
    white-space: nowrap;
}


/*
button:hover {
    /*border: 6px solid #ff2000;
    border-bottom: 2px solid #ff2000;
    border-right: 4px solid #ff2000;
    background-color: #f2e67d;
    background-color: rgba(255, 32, 0, 0.2);
}
*/

/*button:focus {
    outline: 0 !important;
    background-color: #333;
    background-color: rgba(255, 32, 0, 0.45);
}*/

span {
    color: blue;
    padding: 20px;
}

/*
li:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #ff2000;
}
*/

ul {
    width: 100%;
    white-space: nowrap;
    list-style-type: none;
    background-color: #444;
    border-radius: 25px;
    margin: 0;
}

#loading {
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    background-color: #000;
    align-content: center;
    transition: opacity 0.2s linear;
}

#loading__text h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.25em;
    margin-top: -1em;
    color: #fff;
    z-index: 15;
    font-family: 'Walter Turncoat', serif;
    padding: 30px;
    font-size: 3.5em;
}

#loading img {
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 10;
}

#modalContainer {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    overflow: auto;
    display: none;
    text-align: center;
    font-size: 2.7em;
}

#modalContainer.is-visible {
    display: grid;
}

.modal {
    font-family: 'Walter Turncoat', serif;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.2em;
}

#modalName {
    font-size: 1.6em;
    font-weight: 900;
    line-height: 0.85em;
    margin-top: 20px;
    margin-bottom: 5px;
}

#modalFlavor {
    font-size: 0.85em;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 20px;
}

.keys {
    font-size: 1.1em;
    line-height: 2em;
    font-weight: 500;
    padding: 3px;
    background-color: #111;
    color: #b0ffed;
    border-radius: 5px;
}

.modal_info {
    text-align: left;
    width: 100%;
    font-size: 1.05em;
    text-overflow: clip;
    word-wrap: break-word;
}

#newModalClose {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 0.5em;
    height: 30px;
    width: 100px;
}

.pokemon-image {
    height: 300px;
}

.the_list {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 65vh;
    width: 100%;
    border-left: 3px solid #525252;
}

.header-container {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.header-contents {
    background-image: radial-gradient(circle, #b900ff 1%, #0d670d 25%, #72ccd2 52%, #4e004e 62%, #b91515 64%, #333 70%);
    animation: glow 0.3s ease infinite alternate;
}

.header-contents img {
    height: 80px;
    border: 5px solid #bb1818;
    border-radius: 50%;
}

.header-contents h1 {
    vertical-align: top;
    padding: 20px;
    font-size: 3em;
    line-height: 1.9em;
}

.img_container {
    width: 100%;
    background-color: #111;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    border-left: 3px solid #383838;
}

#getInfo {
    position: relative;
    bottom: 28px;
}

#the_image {
    display: block;
    width: auto;
    max-height: 59.5vh;
    margin: auto;
}

@keyframes glow {
    0%      {background-image: radial-gradient(circle, #b70eff 1%, #0d670d 25%, #72cdd4 52%, #4e004e 62%, #b91515 64%, #333 70%);}
    100%    {background-image: radial-gradient(circle, #b900ff 1%, #0d670d 25%, #72ccd2 52%, #4e004e 62%, #b91515 64%, #333 70%);}
}

@media only screen and (max-width: 740px){
    .grid1 {
        grid-template-columns: 1fr;
    }

    .the_list {
        overflow: auto;
        max-height: 20vh;
    }

    #the_image{
        max-height: 44vh;
        width: auto;
    }

    .header-contents img {
        height: 50px;
        border-width: 3px;
    }

    .header-contents h1 {
        font-size: 1.8em;
    }

    button {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 420px){
    .header-contents img {
        display: none;
    }

    .header-contents h1 {
        font-size: 1.4em;
    }

}